.example {
	max-width: calc(50% - 5px);
	background: rgba($white, 0.05);
	padding: 60px 70px;
	padding-bottom: 0;
	overflow: hidden;
	border-radius: 10px;
	position: relative;
	min-height: 750px;
	@include flex(column);
	&-title {
		margin-bottom: 15px;
		position: relative;
		z-index: 1;
	}
	& p {
		position: relative;
		z-index: 1;
		margin: 0;
		font-size: 1.6rem;
		line-height: calc(25 / 16);
		color: $lightblue-text;
		margin-bottom: 10px;
	}
	&-img {
		width: 100%;
		margin-top: auto;
		& img {
			position: relative;
			margin: 0 auto;
			bottom: 0;
		}
	}
	&-blur {
		position: absolute;
		filter: blur(140px);
		bottom: 0;
		left: 0;
		pointer-events: none;
	}
}

.examples {
	@include flex();
	flex-wrap: wrap;
	gap: 10px;
}

@media screen and (max-width: 991px) {
	.example {
		max-width: 100%;
		&-dashboard {
			margin-bottom: 10px;
		}
	}
}

@media screen and (max-width: 767px) {
	.example {
		padding: 32px 30px;
		padding-bottom: 0;
		min-height: 440px;
		&-title {
			margin-bottom: 10px;
		}
		&-img {
			& img {
				max-width: 180px;
			}
		}
		&-blur {
			bottom: -100px;
			& svg {
				max-width: 100%;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.example {
		& p {
			font-size: 1.2rem;
			line-height: calc(20 / 12);
		}
		&-blur {
			filter: blur(90px);
		}
	}
}
