.example {
	max-width: calc(50% - 5px);
	background: rgba($white, 0.05);
	padding: 60px 70px;
	padding-bottom: 0;
	overflow: hidden;
	border-radius: 10px;
	position: relative;
	min-height: 750px;
	@include flex(column);
	&-factors {
		max-width: calc(((4 / 12) * 100%) - 5px);
		& .example-img img {
			min-width: 320px;
			left: 50%;
			transform: translateX(calc(-50% + 22px));
		}
	}
	&-create {
		padding-top: 0;
		max-width: calc(((8 / 12) * 100%) - 5px);
		& .example__text {
			position: absolute;
			top: 60px;
			left: 70px;
			right: 70px;
		}
		& .example-img img {
			min-width: 700px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&-delay {
		max-width: calc(((4 / 12) * 100%) - 6.7px);
		& .example-img img {
			min-width: 380px;
			left: 50%;
			transform: translateX(calc(-50% - 35px));
		}
	}
	&-soundscape {
		padding-top: 0;
		max-width: calc(((4 / 12) * 100%) - 6.7px);
		& .example__text {
			position: absolute;
			top: 60px;
			left: 70px;
			right: 70px;
		}
		& .example-img img {
			min-width: 325px;
			right: 0;
			transform: translateX(-3px);
		}
	}
	&-alarm {
		max-width: calc(((4 / 12) * 100%) - 6.7px);
		& .example-img img {
			min-width: 302px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&-title {
		margin-bottom: 15px;
		position: relative;
		z-index: 1;
	}
	& p {
		position: relative;
		z-index: 1;
		margin: 0;
		font-size: 1.6rem;
		line-height: calc(25 / 16);
		color: $lightblue-text;
		margin-bottom: 10px;
	}
	&-img {
		width: 100%;
		margin-top: auto;
		& img {
			position: relative;
			margin: 0 auto;
			bottom: 0;
		}
	}
	&-blur {
		position: absolute;
		filter: blur(140px);
		bottom: 0;
		left: 0;
		pointer-events: none;
	}
}

.examples {
	@include flex();
	flex-wrap: wrap;
	gap: 10px;
}

@media screen and (max-width: 1220px) {
	.example {
		&-factors {
			max-width: calc(((5 / 12) * 100%) - 5px);
			& .example-img img {
				min-width: 280px;
			}
		}
		&-create {
			max-width: calc(((7 / 12) * 100%) - 5px);
			& .example-img img {
				min-width: auto;
			}
		}
		&-delay,
		&-soundscape {
			max-width: calc(50% - 5px);
		}
		&-alarm {
			max-width: 100%;
			width: 100%;
			text-align: center;
			& .example__text {
				margin: 0 auto;
				max-width: 550px;
				text-align: center;
			}
			& .example-img img {
				min-width: 360px;
				left: 0;
				transform: none;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.example {
		width: 100%;
		max-width: 100%;
		&-dashboard {
			margin-bottom: 10px;
		}
		&-factors {
			max-width: none;
			& .example-img img {
				left: 0;
				transform: translateX(15px);
			}
		}
		&-create {
			max-width: none;
			& .example-img img {
				left: 0;
				transform: none;
				max-width: 100%;
			}
		}
		&-delay {
			& .example-img img {
				min-width: 420px;
				left: 0;
				transform: translateX(-27px);
			}
		}
		&-soundscape {
			& .example-img {
				img {
					min-width: 550px;
					transform: none;
					margin: 0;
					margin-left: auto;
					transform: translateX(70px);
				}
			}
		}
		&-alarm {
			& .example__text {
				text-align: left;
				& p {
					text-align: left;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.example {
		padding: 32px 30px;
		padding-bottom: 0;
		min-height: 440px;
		&-create {
			& .example__text {
				top: 32px;
				left: 30px;
				right: 30px;
			}
		}
		&-delay {
			& .example-img img {
				min-width: 300px;
			}
		}
		&-soundscape {
			& .example-img img {
				min-width: 460px;
				transform: translateX(30px);
			}
			& .example__text {
				top: 32px;
				left: 30px;
				right: 30px;
			}
		}
		&-alarm {
			display: none;
		}
		&-title {
			margin-bottom: 10px;
		}
		&-img {
			& img {
				max-width: 180px;
			}
		}
		&-blur {
			bottom: -100px;
			& svg {
				max-width: 100%;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.example {
		& p {
			font-size: 1.2rem;
			line-height: calc(20 / 12);
		}
		&-blur {
			filter: blur(90px);
		}
		&-delay {
			& .example-img img {
				min-width: 250px;
				left: 0;
				transform: translateX(-25px);
			}
		}
		&-soundscape {
			& .example-img img {
				min-width: 400px;
				transform: translateX(30px);
			}
		}
	}
}

@media screen and (max-width: 440px) {
	.example {
		&-soundscape {
			& .example-img img {
				min-width: 380px;
				transform: none;
			}
		}
	}
}

@media screen and (max-width: 400px) {
	.example {
		&-soundscape {
			& .example-img img {
				min-width: 350px;
			}
		}
	}
}

@media screen and (max-width: 380px) {
	.example {
		&-soundscape {
			& .example-img img {
				min-width: 310px;
			}
		}
	}
}
