// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Raleway', Arial, sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$light-100: #fafafa;
$light-200: #fbfbfb;
$light-300: #e5e5e5;
$light-400: #e8e8e8;

$black: #000;
$black-100: #0d2221;
$black-300: #323232;

$gray-200: #b2b2b2;
$gray-600: #818181;
$gray-700: #797979;

$orange-400: #e89522;
$blue-600: #0057be;
$red-100: #ff6b6b;
