// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'ProximaNova', Arial, sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$gray-600: #ccc;
$gray-500: #e5e5e5;
$gray-700: #b2b2b2;

$black: #000;
$black-bg: #020f1e;
$lightblue-200: #2da6dd;
$lightblue-350: #17a2ff;
$lightblue-text: #a6d2f2;
$blue-650: #035a95;

$title-gradient-blue: linear-gradient(268.94deg, #8faeea 29.66%, #1d66a7 104.91%);
