.insight {
	&-wrapper {
		max-width: 900px;
		margin: 0 auto;
	}
	&-text {
		margin-bottom: 100px;
		& p {
			margin: 0;
			font-size: 2.8rem;
			line-height: calc(45 / 28);
			letter-spacing: -0.02em;
			color: $gray-700;
			margin-bottom: 0.5em;
			&:last-child {
				margin-bottom: 0;
			}
			& a {
				color: $lightblue-350;
				position: relative;
				&::before {
					content: '';
					position: absolute;
					bottom: 3px;
					left: 0;
					width: 100%;
					height: 1px;
					background: $lightblue-350;
				}
			}
		}
		&__list {
			margin-top: 15px;
			&-title {
				font-size: 2.8rem;
				line-height: calc(45 / 28);
				letter-spacing: -0.02em;
				margin-top: 35px;
				color: $gray-700;
			}
			&-item {
				font-size: 2.8rem;
				line-height: calc(45 / 28);
				letter-spacing: -0.02em;
				color: $gray-700;
				padding-left: 31px;
				position: relative;
				&::before {
					content: '';
					font-size: inherit;
					position: absolute;
					left: 0;
					top: 0;
					width: 26px;
					height: 1.607em;
					background: icon('list-item-ellipse.svg') no-repeat 50%;
				}
				& a {
					color: $lightblue-350;
					position: relative;
					&::before {
						content: '';
						position: absolute;
						bottom: 3px;
						left: 0;
						width: 100%;
						height: 1px;
						background: $lightblue-350;
					}
				}
			}
		}
	}
	&-img {
		display: grid;
		justify-items: center;
		margin-bottom: 100px;
		& img {
			border-radius: 15px;
			margin: 0 auto;
		}
		& p {
			margin: 0;
			margin-top: 30px;
			text-align: center;
			color: $gray-700;
			font-size: 1.8rem;
			line-height: calc(25 / 18);
		}
		&_text-left {
			& p {
				text-align: left;
			}
		}
	}
	&-note {
		margin-bottom: 100px;
		padding: 45px 60px;
		background: rgba($white, 0.05);
		border-radius: 15px;
		text-align: center;
		& p {
			color: $gray-500;
			margin: 0;
			font-size: 4rem;
			line-height: calc(50 / 40);
			text-align: center;
		}
		&__link {
			display: inline-block;
			position: relative;
			font-size: 2.4rem;
			line-height: calc(30 / 24);
			color: $lightblue-350;
			margin-top: 15px;
			letter-spacing: -0.02em;
			&::before {
				content: '';
				position: absolute;
				bottom: 3px;
				left: 0;
				width: 100%;
				height: 1px;
				background: $lightblue-350;
			}
			&::after {
				content: '';
				position: absolute;
				right: -35px;
				top: 50%;
				transform: translateY(-50%);
				width: 30px;
				height: 30px;
				background: icon('link.svg') no-repeat 50%;
			}
		}
		&__promocode-btn {
			margin-top: 15px;
			& div {
				font-weight: 400;
				background: linear-gradient(rgba(255, 255, 255, 0.12)), linear-gradient(#020f1e);
			}
		}
		&_left-stick {
			padding: 55px 40px 55px 50px;
			position: relative;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: 5px solid $lightblue-text;
			margin-bottom: 50px;
			& p {
				color: $lightblue-text;
				text-align: left;
			}
		}
	}
	&-advice {
		& .insight-section__title {
			position: relative;
			@include flex(row, center);
			&::after {
				content: '';
				display: inline-block;
				position: relative;
				right: 0;
				top: 0;
				width: 170px;
				height: 50px;
				background: icon('side-sleeping.svg') space;
				margin-left: 20px;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.insight {
		&-text {
			margin-bottom: 50px;
			& p {
				font-size: 1.6rem;
				line-height: calc(25 / 16);
				letter-spacing: 0;
			}
		}
		&-img {
			margin-bottom: 50px;
		}
		&-note {
			padding: 30px 40px;
			margin-bottom: 50px;
			& p {
				font-size: 2rem;
				line-height: calc(25 / 20);
			}
			&__promocode-btn {
				margin-top: 10px;
				& div {
					padding: 0.625em 1.25em;
					&::after {
						content: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.insight {
		&-text {
			margin-bottom: 40px;
			& p {
				margin-bottom: 0;
			}
		}
		&-img {
			margin-bottom: 40px;
		}
		&-note {
			margin-bottom: 40px;
			& p {
				font-size: 1.6rem;
				line-height: calc(20 / 16);
			}
		}
	}
}
